@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --font-nunito: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-nunito), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}